/*.col-sm-4 
{

    margin:1px;
}
*/

.organic{ text-align:center;}
.funded {
    text-align: center;
}

#search {
    background-color: #0094ff;
    /*  text-align: center;
    align-content: center;*/
   
}
button {
    margin-left: 5px;
}

.CatSearch {
    text-align: center;
   
    
}

.nav-item a:hover {
    background-color: #0094ff;
    color: black;
}

.navbar-brand a:hover {
    background-color: #0094ff;
    color: black;
}

.container-fluid a:hover {
    background-color: #0094ff;
    color: black;
}


/*this position and down contain the check box (in the preferences page) style*/


#containerPreferBox {
   /* background-image: url('../pics/hey.jpg');*/
    /* background-color:black;*/
    background-repeat: no-repeat;
    background-size: 100%;
    /*border: 5px solid black;*/
   
}
#checkIT {
    width: 350px;
    
    position:relative;
    top:50%;
    left:36%;
 
       
    
}



#containerPreferBox#checkIT {
}
#btnSub {
    width: 75px;
    height: 50px;
    margin: 0px auto;
    background-color: #0094ff;
    border-radius: 10px;
    font: bold;
    position:relative;
    top:50%;
    right:10%;

}
#btnSub:hover{background-color:aqua;}

.CheckB {
    height: 25px;
    width: 25px;
    background-color: #eee;
   
}

.container1  {
    position:absolute;
    top:0px;
    left:0px;
}


#checkCol {

    
}



/*form*/




